#pageHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 140px;
    width: 100%;
    /*margin-bottom: 25px;*/
    border-style: solid;
    border-color: #dddddd;
    cursor: default;
    text-align: center;
}

.jumbotron{
    text-align: center;
    padding: 10px 0 10px 0;
    margin: 0;
}

#headerMenu {
    width: 100%;
    text-align: center;
    margin-top: 25px;
    border-style: solid;
    border-color: #dddddd;
}

#formDiv {
    text-align: center;
    width: 100%;
}

form {
    width: 50%;
    display: inline-block;
}

#formHeader {
    margin: 25px 0 25px 0;
    cursor: default;
}

select {
    text-align: center;
    min-height: 150px;
    padding-bottom: 50px;
    margin-bottom: 50px;
}

.button {
    margin: 0 20px;
    width: 100px;
}

.tableColumnHeader {
    max-width: 200px;
    font-size: xx-large;
    text-decoration: underline;
}
th {
    text-align: center;
}

.deleteLink {color: red;}
.deleteLink:hover {color: #dd0000;}